<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Chi tiết sản phẩm - GauMeo Petshop</title>
  <link rel="website icon" type="png" href="~/images/webicon.png">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <main>
    <div class="breadcrumb">
      <a href="/Home/Index" class="breadcrumb-link">Trang chủ</a> /
      <a href="#" class="breadcrumb-link active">Thức Ăn Hạt Cho Chó Con Giống Nhỏ Mini Puppy Royal Canin</a>
    </div>
    <section class="product-detail">
      <div class="product-images">
        <div class="thumb-list vertical">
          <img src="sp1.jpg" alt="thumb1" class="active">
          <img src="sp1-2.jpg" alt="thumb2">
          <img src="sp1-3.jpg" alt="thumb3">
          <img src="sp1-4.jpg" alt="thumb4">
          <img src="sp1-5.jpg" alt="thumb5">
          <img src="sp1-6.jpg" alt="thumb6">
        </div>
        <img class="main-img" src="/images/image.png" alt="Thức Ăn Hạt Cho Chó Con Giống Nhỏ Mini Puppy Royal Canin">
      </div>
      <div class="product-info">
        <h1 class="product-title">Thức Ăn Hạt Cho Chó Con Giống Nhỏ Mini Puppy Royal Canin</h1>
        <div class="product-rating">
          <span class="star star-full"><svg viewBox="0 0 512 512" width="20" height="20"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
          <span class="star star-full"><svg viewBox="0 0 512 512" width="20" height="20"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
          <span class="star star-full"><svg viewBox="0 0 512 512" width="20" height="20"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
          <span class="star star-full"><svg viewBox="0 0 512 512" width="20" height="20"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
          <span class="star star-full"><svg viewBox="0 0 512 512" width="20" height="20"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
          <div class="rating-review-count">2 đánh giá</div>
        </div>
        <div class="product-variants">
          <button class="selected">800g</button>
          <button>2kg</button>
          <button>8kg</button>
          <button>15kg</button>
        </div>
        <div class="quantity-selector">
          <button class="qty-btn minus">-</button>
          <input value="1" min="1" class="qty-input">
          <button class="qty-btn plus">+</button>
        </div>
        <div class="product-actions">
          <button class="buy-now">Mua ngay</button>
          <button class="add-to-cart">Thêm vào giỏ hàng</button>
          <button class="favorite-btn" title="Yêu thích" style="background:none;border:none;cursor:pointer;padding:0 0 0 10px;vertical-align:middle;">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 90 90"><path d="M 45 84.334 L 6.802 46.136 C 2.416 41.75 0 35.918 0 29.716 c 0 -6.203 2.416 -12.034 6.802 -16.42 c 4.386 -4.386 10.217 -6.802 16.42 -6.802 c 6.203 0 12.034 2.416 16.42 6.802 L 45 18.654 l 5.358 -5.358 c 4.386 -4.386 10.218 -6.802 16.42 -6.802 c 6.203 0 12.034 2.416 16.42 6.802 l 0 0 l 0 0 C 87.585 17.682 90 23.513 90 29.716 c 0 6.203 -2.415 12.034 -6.802 16.42 L 45 84.334 z M 23.222 10.494 c -5.134 0 -9.961 2 -13.592 5.63 S 4 24.582 4 29.716 s 2 9.961 5.63 13.592 L 45 78.678 l 35.37 -35.37 C 84.001 39.677 86 34.85 86 29.716 s -1.999 -9.961 -5.63 -13.592 l 0 0 c -3.631 -3.63 -8.457 -5.63 -13.592 -5.63 c -5.134 0 -9.961 2 -13.592 5.63 L 45 24.311 l -8.187 -8.187 C 33.183 12.494 28.356 10.494 23.222 10.494 z" fill="#000"/></svg>
          </button>
        </div>
        <div class="product-desc">
          <h3>Mô tả sản phẩm</h3>
          <div class="accordion">
            <div class="accordion-item">
              <div class="accordion-title">Thông tin dinh dưỡng
                <span class="accordion-icon"> 
                  <svg class="icon-open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22"><g data-name="18-Arrow Down"><path d="M16 0a16 16 0 1 0 16 16A16 16 0 0 0 16 0zm0 30a14 14 0 1 1 14-14 14 14 0 0 1-14 14z"/><path d="M17 23.59V5h-2v18.59l-5.29-5.3-1.42 1.42 7 7a1 1 0 0 0 1.41 0l7-7-1.41-1.41z"/></g></svg>
                  <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22" style="display:none"><path d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 12.21875 10.78125 L 10.78125 12.21875 L 14.5625 16 L 10.78125 19.78125 L 12.21875 21.21875 L 16 17.4375 L 19.78125 21.21875 L 21.21875 19.78125 L 17.4375 16 L 21.21875 12.21875 L 19.78125 10.78125 L 16 14.5625 Z"></path></svg>
                </span>
              </div>
              <div class="accordion-content">
                <b>Thành phần:</b> Protein gia cầm khử nước, gạo, mỡ động vật, gluten lúa mì*, ngô, bột củ cải đường, bột ngô, protein động vật thủy phân, gluten ngô, khoáng chất, dầu đậu nành, dầu cá, fructo-oligo-sacarit, men thủy phân (nguồn manno -oligosaccharides và betaglucans) (0,30%), dầu tảo Schizochytrium sp. (nguồn DHA), chiết xuất Yucca Schidigera, bột cúc vạn thọ.<br>
                <b>Phụ gia dinh dưỡng:</b> Vitamin A, Vitamin D3, Vitamin E, E1 (Sắt), E2 (I ốt), E4 (Đồng), E5 (Mangan), E6 (Kẽm), E8 (Selen) - Phụ gia kỹ thuật: Clinoptilolite - Phụ gia cảm quan: Chiết xuất Yucca - Chất chống oxi hóa.<br>
                * L.I.P.: Protein có độ tiêu hóa cao.
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-title">Công dụng
                <span class="accordion-icon"> 
                  <svg class="icon-open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22"><g data-name="18-Arrow Down"><path d="M16 0a16 16 0 1 0 16 16A16 16 0 0 0 16 0zm0 30a14 14 0 1 1 14-14 14 14 0 0 1-14 14z"/><path d="M17 23.59V5h-2v18.59l-5.29-5.3-1.42 1.42 7 7a1 1 0 0 0 1.41 0l7-7-1.41-1.41z"/></g></svg>
                  <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22" style="display:none"><path d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 12.21875 10.78125 L 10.78125 12.21875 L 14.5625 16 L 10.78125 19.78125 L 12.21875 21.21875 L 16 17.4375 L 19.78125 21.21875 L 21.21875 19.78125 L 17.4375 16 L 21.21875 12.21875 L 19.78125 10.78125 L 16 14.5625 Z"></path></svg>
                </span>
              </div>
              <div class="accordion-content">
                <b>Hệ miễn dịch khỏe mạnh:</b> Hỗ trợ sự phát triển hệ thống miễn dịch khỏe mạnh của chó con bằng cách bổ sung một phức hợp đã được khoa học chứng minh, bao gồm vitamin E và C.<br>
                <b>Hỗ trợ lợi khuẩn:</b> Sự kết hợp của prebiotic (MOS) và protein dễ tiêu hóa để giúp thúc đẩy sự cân bằng lành mạnh của hệ vi sinh vật đường ruột cho sức khỏe tiêu hóa.<br>
                <b>Phát triển trí não:</b> Được làm giàu với axit béo omega-3 (DHA) đã được khoa học chứng minh là hỗ trợ sự phát triển trí não của chó con và thúc đẩy việc học tập trong quá trình huấn luyện chó con từ sớm.</b>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-title">Hướng dẫn sử dụng
                <span class="accordion-icon"> 
                  <svg class="icon-open" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22"><g data-name="18-Arrow Down"><path d="M16 0a16 16 0 1 0 16 16A16 16 0 0 0 16 0zm0 30a14 14 0 1 1 14-14 14 14 0 0 1-14 14z"/><path d="M17 23.59V5h-2v18.59l-5.29-5.3-1.42 1.42 7 7a1 1 0 0 0 1.41 0l7-7-1.41-1.41z"/></g></svg>
                  <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="22" height="22" style="display:none"><path d="M 16 3 C 8.832031 3 3 8.832031 3 16 C 3 23.167969 8.832031 29 16 29 C 23.167969 29 29 23.167969 29 16 C 29 8.832031 23.167969 3 16 3 Z M 16 5 C 22.085938 5 27 9.914063 27 16 C 27 22.085938 22.085938 27 16 27 C 9.914063 27 5 22.085938 5 16 C 5 9.914063 9.914063 5 16 5 Z M 12.21875 10.78125 L 10.78125 12.21875 L 14.5625 16 L 10.78125 19.78125 L 12.21875 21.21875 L 16 17.4375 L 19.78125 21.21875 L 21.21875 19.78125 L 17.4375 16 L 21.21875 12.21875 L 19.78125 10.78125 L 16 14.5625 Z"></path></svg>
                </span>
              </div>
              <div class="accordion-content">
                <b></b> Thức ăn hạt cho chó con cỡ nhỏ ROYAL CANIN Mini Puppy tạo thói quen ăn uống cho chó. Dựa theo tuổi của chó, cần cho ăn một ngày 3 lần vào các giờ cố định. Cho ăn tại một chỗ để tạo thói quen tốt cho chó. Nên cho chó ăn thức ăn chế biến riêng, không cho ăn thức ăn thừa của người.<br>
                Bảo quản nơi khô ráo, tránh ánh nắng mặt trời.<!-- Nội dung hướng dẫn sử dụng bạn sẽ cập nhật sau -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="product-review">
      <div class="yotpo-container">
        <div class="product-reviews-container">
          <div class="review-tabs-section">
            <div class="review-summary-top">
              <div class="rating-summary">
                <div class="rating-result">
                  <h2 class="rating-title" style="color:#111">Đánh giá</h2>
                  <div class="rating-info-row">
                    <div class="rating-stars">
                      <span class="star star-full"><svg viewBox="0 0 512 512" width="20" height="20"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                      <span class="star star-full"><svg viewBox="0 0 512 512" width="20" height="20"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                      <span class="star star-full"><svg viewBox="0 0 512 512" width="20" height="20"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                      <span class="star star-full"><svg viewBox="0 0 512 512" width="20" height="20"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                      <span class="star star-full"><svg viewBox="0 0 512 512" width="20" height="20"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                    </div>
                    <div class="rating-review-count">2 đánh giá</div>
                  </div>
                </div>
              </div>
              <div class="review-tabs__actions">
                <button class="btn btn--large gl-btn review-container-trigger active">Viết đánh giá</button>
                <button class="btn btn--large gl-btn question-container-trigger">Đặt câu hỏi</button>
              </div>
            </div>
            <div class="review-forms"></div>
          </div>
          <div class="review-tabs">
            <div class="review-tabs__wrapper">
              <div class="reviews-switches tab-row" role="tablist" style="display:flex;align-items:center;gap:18px;">
                <div class="tab-item item title uk-text-uppercase active" role="tab" aria-controls="tab-reviews" aria-selected="true" aria-expanded="true" tabindex="0">
                  <span class="tab-checkbox tab-checkbox-review"> 
                    <svg width="18" height="18" viewBox="0 0 24 24" class="checkbox-filled" style="display:block"><rect x="2" y="2" width="20" height="20" rx="5" fill="#222" stroke="#222" stroke-width="2.2"/></svg>
                    <svg width="18" height="18" viewBox="0 0 24 24" class="checkbox-outline" style="display:none"><rect x="2" y="2" width="20" height="20" rx="5" fill="#fff" stroke="#222" stroke-width="2.2"/></svg>
                  </span>
                  <a class="switch gl-bullet-heading" href="#tab-reviews">Đánh giá</a>
                </div>
                <div class="tab-item item title uk-text-uppercase" role="tab" aria-controls="tab-questions" aria-selected="false" aria-expanded="false" tabindex="0">
                  <span class="tab-checkbox tab-checkbox-question"> 
                    <svg width="18" height="18" viewBox="0 0 24 24" class="checkbox-filled" style="display:none"><rect x="2" y="2" width="20" height="20" rx="5" fill="#222" stroke="#222" stroke-width="2.2"/></svg>
                    <svg width="18" height="18" viewBox="0 0 24 24" class="checkbox-outline" style="display:block"><rect x="2" y="2" width="20" height="20" rx="5" fill="#fff" stroke="#222" stroke-width="2.2"/></svg>
                  </span>
                  <a class="switch gl-bullet-heading" href="#tab-questions">Câu hỏi</a>
                </div>
              </div>
            </div>
            <div id="tab-reviews" class="item content">
              <div class="yotpo-list review-list">
                <div class="yotpo-list__item">
                  <div class="yotpo-list__item-row">
                    <div class="yotpo-list__item-col">
                      <div class="yotpo-list__item-rating">
                        <span class="star star-full"><svg viewBox="0 0 512 512" width="16" height="16"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                        <span class="star star-full"><svg viewBox="0 0 512 512" width="16" height="16"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                        <span class="star star-full"><svg viewBox="0 0 512 512" width="16" height="16"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                        <span class="star star-full"><svg viewBox="0 0 512 512" width="16" height="16"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                        <span class="star star-full"><svg viewBox="0 0 512 512" width="16" height="16"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                      </div>
                      <p class="yotpo-list__item-name">Nguyễn Văn A</p>
                    </div>
                    <div class="yotpo-list__item-content-row">
                      <div class="yotpo-list__item-content">
                        <p>Giao hàng nhanh, đóng gói cẩn thận. Sẽ ủng hộ tiếp.</p>
                      </div>
                      <div class="yotpo-list__item-createdat">12/06/2024</div>
                    </div>
                  </div>
                </div>
                <div class="yotpo-list__item">
                  <div class="yotpo-list__item-row">
                    <div class="yotpo-list__item-col">
                      <div class="yotpo-list__item-rating">
                        <span class="star star-full"><svg viewBox="0 0 512 512" width="16" height="16"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                        <span class="star star-full"><svg viewBox="0 0 512 512" width="16" height="16"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                        <span class="star star-full"><svg viewBox="0 0 512 512" width="16" height="16"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                        <span class="star star-full"><svg viewBox="0 0 512 512" width="16" height="16"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                        <span class="star star-full"><svg viewBox="0 0 512 512" width="16" height="16"><path d="M512 197.4c0-9.8-7.1-18.1-16.7-19.8l-155.7-25.2-69.6-146.2c-4.1-8.6-12.7-14-22-14s-17.9 5.4-22 14l-69.6 146.2-155.7 25.2c-9.6 1.7-16.7 10-16.7 19.8 0 6.2 2.9 12.1 7.9 16l119.2 104.2-34.7 153.2c-2.1 9.5 1.6 19.2 9.3 24.9 7.7 5.7 18 6.2 26.2 1.2l135.1-81.2 135.1 81.2c3.7 2.2 7.8 3.3 11.9 3.3 4.2 0 8.3-1.3 12-3.8 7.7-5.7 11.4-15.4 9.3-24.9l-34.7-153.2 119.2-104.2c5-4 7.9-9.9 7.9-16z"/></svg></span>
                      </div>
                      <p class="yotpo-list__item-name">Trần Thị B</p>
                    </div>
                    <div class="yotpo-list__item-content-row">
                      <div class="yotpo-list__item-content">
                        <p>Chó nhà mình ăn rất hợp, sẽ mua lại.</p>
                      </div>
                      <div class="yotpo-list__item-createdat">10/06/2024</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-questions" class="item content" style="display:none;">
              <div class="yotpo-list question-list">
                <div class="yotpo-list__item question">
                  <div class="yotpo-list__item-heading">
                    <p class="yotpo-list__item-name">Lê Văn C</p>
                  </div>
                  <div class="answer-list">
                    <strong class="yotpo-list__item-content question-title">Q: Sản phẩm này có phù hợp cho chó con không?</strong>
                    <div class="answer">
                      <div class="yotpo-list__item-content">A: Dạ sản phẩm phù hợp cho chó con từ 2-10 tháng tuổi ạ.</div>
                    </div>
                  </div>
                  <div class="yotpo-list__item-createdat"><span>09/06/2024</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="related-products">
      <h2>Sản phẩm liên quan</h2>
      <div class="product-list">
        <div class="product-card">
          <a href="product detail.html"><img src="sp1.jpg" alt=""></a>
          <a href="product detail.html"><h3>Thức Ăn Hạt Cho Chó Con Giống Nhỏ Mini Puppy Royal Canin</h3></a>
          <p class="product-price">320.000đ - 1.200.000đ</p>
          <button class="add-to-cart-btn">Thêm vào giỏ hàng</button>
        </div>
        <div class="product-card">
          <a href="product detail.html"><img src="sp2.jpg" alt=""></a>
          <a href="product detail.html"><h3>Thức Ăn Hạt Cho Chó Con Poodle</h3></a>
          <p class="product-price">290.000đ - 1.100.000đ</p>
          <button class="add-to-cart-btn">Thêm vào giỏ hàng</button>
        </div>
        <div class="product-card">
          <a href="product detail.html"><img src="sp3.jpg" alt=""></a>
          <a href="product detail.html"><h3>Thức Ăn Hạt Trưởng Thành Royal Canin</h3></a>
          <p class="product-price">350.000đ</p>
          <button class="add-to-cart-btn">Thêm vào giỏ hàng</button>
        </div>
        <div class="product-card">
          <a href="product detail.html"><img src="sp4.jpg" alt=""></a>
          <a href="product detail.html"><h3>Thức Ăn Hạt Cho Mèo Royal Canin Kitten</h3></a>
          <p class="product-price">310.000đ</p>
          <button class="add-to-cart-btn">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </section>
  </main>
  <script src="/js/product-detail.js"></script>
</body>
</html>
