/*======================
    404 page
=======================*/

.page_404, .page_error {
    padding: 0;
    background: #fff;
    justify-content: center;
}

.page_404 img, .page_error img {
    width: 100%;
}

.four_zero_four_bg, .error_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.four_zero_four_bg h1, .error_bg h1 {
    font-size: 80px;
    margin: 10px 0;
    text-align: center;
}

.four_zero_four_bg h3, .error_bg h3 {
    font-size: 80px;
    text-align: center;
}

.link_404, .link_error {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.link_404:hover, .link_error:hover {
    background: #2d8a27;
    text-decoration: none;
    color: #fff !important;
}

.contant_box_404, .contant_box_error {
    margin-top: -50px;
    text-align: center;
} 