@{
    ViewData["Title"] = "404 - Không tìm thấy trang";
}

<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="four_zero_four_bg">
                    <h1 class="text-center">404</h1>
                </div>
                
                <div class="contant_box_404">
                    <h3 class="h2">
                        Ối zời ơi, lạc đường zồi! Zời đất quỷ thần!
                    </h3>
                    
                    <p>Tui thề tui thấy trang này hồi sáng giờ nó trốn đâu mất tiêu!</p>
                    
                    <a href="/" class="link_404">Về trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/error404.css" asp-append-version="true" />
} 