@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Đăng ký";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true">
}

<div class="auth-container">
    <div class="container">
        <div class="form">
            <h2>Đăng ký</h2>
            <form asp-action="Register" asp-controller="Account" method="post" style="height: 335px;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="inputBox">
                    <input asp-for="UserName" required="required">
                    <i class="fa-regular fa-user"></i>

                    <span asp-validation-for="UserName" class="text-danger">Tên tài khoản</span>
                </div>
                <div class="inputBox">
                    <input asp-for="Email" required="required">
                    <i class="fa-regular fa-envelope"></i>

                    <span asp-validation-for="Email" class="text-danger">Email</span>
                </div>
                <div class="inputBox">
                    <input asp-for="Password" required="required">
                    <i class="fa-solid fa-lock"></i>

                    <span asp-validation-for="Password" class="text-danger">Mật khẩu</span>
                </div>
                <div class="inputBox">
                    <input asp-for="ConfirmPassword" required="required">
                    <i class="fa-solid fa-lock"></i>

                    <span asp-validation-for="ConfirmPassword" class="text-danger">Xác thực mật khẩu</span>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Đăng ký">
                </div>
            </form>
            <p>Đã có tài khoản ? <a asp-action="Login" asp-controller="Account">Đăng nhập</a></p>
        </div>
    </div>
</div>
